openapi: 3.0.0
info:
  title: Individual Calculations (MTD)
  description: "This API allows a developer to:\n\n* trigger a customer’s self assessment tax calculation\n* list a customer’s self assessment tax calculations for a tax year\n* retrieve a customer’s self assessment tax calculation result\n* submit a self assessment final declaration for a tax year\n\nIn previous versions, the term ‘crystallise’ was used to mean submit a final declaration, and the term ‘intent to crystallise’ was used to mean trigger a final declaration self-assessment tax calculation.\n\nFor information on how to connect to this API [see the Income Tax MTD end-to-end service guide](https://developer.service.hmrc.gov.uk/guides/income-tax-mtd-end-to-end-service-guide/).\nHMRC monitors transactions to help protect your customers' confidential data from criminals and fraudsters. \n\n<div class=\"govuk-warning-text warning-icon-fix\">\n  <span class=\"govuk-warning-text__icon warning-icon-ui-fix\" aria-hidden=\"true\">!</span>\n  <strong class=\"govuk-warning-text__text\">\n    <span class=\"govuk-warning-text__assistive\">Warning</span>\n    You are required by law to submit header data for this API. This includes all associated APIs and endpoints.\n  </strong>\n</div>\n\n[Check the data you need to send](/guides/fraud-prevention/). You can also use the [Test API](/api-documentation/docs/api/service/txm-fph-validator-api/1.0) during initial development and as part of your quality assurance checks.\nWhen an API changes in a way that is backwards-incompatible, we increase the version number of the API. \nSee our [reference guide](/api-documentation/docs/reference-guide#versioning) for more on\nversioning.\nWe use standard HTTP status codes to show whether an API request succeeded or not. They are usually in the range:\n\n- 200 to 299 if it succeeded, including code 202 if it was accepted by an API that needs to wait for further action\n- 400 to 499 if it failed because of a client error by your application\n- 500 to 599 if it failed because of an error on our server\n\nErrors specific to each API are shown in the Endpoints section, under Response. See our [reference guide](https://developer.service.hmrc.gov.uk/api-documentation/docs/reference-guide#errors) for more on errors.\n\nSingle errors will be returned in the following format:<br>\n`{\n    \"code\": \"FORMAT_FIELD_NAME\",\n    \"message\": \"The provided FieldName is invalid\"\n}`\n\nWhere possible, multiple errors will be returned with `INVALID_REQUEST` in the following format:<br>\n`{\n    \"code\": \"INVALID_REQUEST\",\n    \"message\": \"Invalid request\",\n    \"errors\": [\n        {\n            \"code\": \"RULE_FIELD_NAME\",\n            \"message\": \"The provided FieldName is not allowed\"\n        },\n        {\n            \"code\": \"FORMAT_FIELD_NAME\",\n            \"message\": \"The provided FieldName is invalid\"\n        }\n    ]\n}`\nYou can find the changelog in the [income-tax-mtd-changelog](https://github.com/hmrc/income-tax-mtd-changelog/wiki) GitHub wiki.\n* Raise non-technical or platform-related issues with the [Software Development Support Team (SDST)](https://developer.service.hmrc.gov.uk/developer/support).\n* Raise technical issues on the [income-tax-mtd-changelog](https://github.com/hmrc/income-tax-mtd-changelog/issues) GitHub page.\nYou can use the sandbox environment to <a href=\"/api-documentation/docs/testing\">test this API</a>. You can use the <a href=\"/api-documentation/docs/api/service/api-platform-test-user/1.0\">Create Test User API</a> or it's frontend service to create test users.\n\nIt may not be possible to test all scenarios in the sandbox. You can test some scenarios by passing the Gov-Test-Scenario header. Documentation for each endpoint includes a **Test data** section, which explains the scenarios that you can simulate using the Gov-Test-Scenario header.\n\nIf you have a specific testing need that is not supported in the sandbox, contact <a href=\"/developer/support\">our support team</a>.\n\nSome APIs may be marked \\[test only\\]. This means that they are not available for use in production and may change."
  contact: {}
  version: '3.0'
servers:
- url: https://api.service.hmrc.gov.uk/
  variables: {}
paths:
  /individuals/calculations/{nino}/self-assessment:
    get:
      tags:
      - individuals
      summary: List Self Assessment Tax Calculations [test only]
      description: This endpoint allows the developer to list their Self Assessment tax calculations for a given NINO and tax year. The National Insurance number must be provided.
      operationId: ListSelfAssessmentTaxCalculations[testonly]
      parameters:
      - name: nino
        in: path
        description: National Insurance number, in the format AA999999A.
        required: true
        style: simple
        schema:
          type: string
          example: TC663795B
      - name: taxYear
        in: query
        description: The tax year the data applies to, for example, 2021-22. The start year and end year must not span two tax years. The minimum tax year is 2017-18. No gaps are allowed, for example, 2020-22 is not valid.
        style: form
        explode: true
        schema:
          type: string
          example: 2017-18
      - name: Gov-Test-Scenario
        in: header
        description: Only in sandbox environment. See Test Data table for all header values.
        style: simple
        schema:
          type: string
          example: '-'
      responses:
        '200':
          description: ''
          headers:
            X-CorrelationId:
              description: Unique ID for operation tracking <br> String, 36 characters.
              content:
                text/plain:
                  schema:
                    type: string
                    description: Unique ID for operation tracking <br> String, 36 characters.
                    example: c75f40a6-a3df-4429-a697-471eeec46435
                  example: c75f40a6-a3df-4429-a697-471eeec46435
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSelfAssessmentTaxCalculations'
              example:
                calculations:
                - calculationId: c432a56d-e811-474c-a26a-76fc3bcaefe5
                  calculationTimestamp: 2021-07-12T07:51:43.112Z
                  calculationType: finalDeclaration
                  requestedBy: customer
                  taxYear: 2021-22
                  totalIncomeTaxAndNicsDue: 10000.12
                  intentToSubmitFinalDeclaration: true
                  finalDeclaration: true
                  finalDeclarationTimestamp: 2021-07-13T07:51:43.112Z
                  links:
                  - href: /individuals/calculations/TC663795B/self-assessment/2021-22/c432a56d-e811-474c-a26a-76fc3bcaefe5
                    rel: self
                    method: GET
                - calculationId: f2fb30e5-4ab6-4a29-b3c1-c7264259ff1c
                  calculationTimestamp: 2021-06-22T08:53:44.122Z
                  calculationType: inYear
                  requestedBy: customer
                  taxYear: 2021-22
                  totalIncomeTaxAndNicsDue: 10000.12
                  intentToSubmitFinalDeclaration: false
                  finalDeclaration: false
                  links:
                  - href: /individuals/calculations/TC663795B/self-assessment/2021-22/f2fb30e5-4ab6-4a29-b3c1-c7264259ff1c
                    rel: self
                    method: GET
                links:
                - href: /individuals/calculations/TC663795B/self-assessment/2021-22
                  rel: trigger
                  method: POST
                - href: /individuals/calculations/TC663795B/self-assessment
                  rel: self
                  method: GET
        '400':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                formatNino:
                  description: The format of the supplied NINO field is not valid.
                  value:
                    code: FORMAT_NINO
                formatTaxYear:
                  description: The format of the supplied taxYear value is not valid.
                  value:
                    code: FORMAT_TAX_YEAR
                rule_TaxYearNotSupported:
                  description: The specified tax year is not supported. That is, the tax year specified is before the minimum tax year value.
                  value:
                    code: RULE_TAX_YEAR_NOT_SUPPORTED
                ruleTaxYearRangeInvalid:
                  description: Tax year range invalid. A tax year range of one year is required.
                  value:
                    code: RULE_TAX_YEAR_RANGE_INVALID
                ruleIncorrectGTS:
                  description: The request did not match any available Sandbox data. Check that the supplied Gov-Test-Scenario is correct for this endpoint version. This error will only be returned in the Sandbox environment.
                  value:
                    code: RULE_INCORRECT_GOV_TEST_SCENARIO
        '403':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                clientOrAgentNotAuthorised:
                  description: 'The client and/or agent is not authorised. This is normally because: the client is not subscribed to MTD, the agent is not subscribed to Agent Services, or the client has not authorised the agent to act on their behalf.'
                  value:
                    code: CLIENT_OR_AGENT_NOT_AUTHORISED
        '404':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                notFoundList:
                  description: No tax calculations can be found for the supplied NINO and tax year.
                  value:
                    code: MATCHING_RESOURCE_NOT_FOUND
      deprecated: false
  /individuals/calculations/{nino}/self-assessment/{taxYear}:
    post:
      tags:
      - individuals
      summary: Trigger a Self Assessment Tax Calculation [test only]
      description: This endpoint allows the user to trigger a self assessment tax calculation for a given tax year. It should be called whenever income data is updated through a periodic or annual endpoint. To trigger a final declaration self assessment tax calculation, you must supply the finalDeclaration query parameter as true. <br/> <br/> A National Insurance number and tax year must be provided. The tax calculation process is asynchronous, so it is recommended you wait at least 5 seconds before calling the retrieval endpoint. The result of the calculation can be seen using the “Retrieve a Self Assessment Tax Calculation” endpoint.
      operationId: TriggeraSelfAssessmentTaxCalculation[testonly]
      parameters:
      - name: nino
        in: path
        description: National Insurance number, in the format AA999999A.
        required: true
        style: simple
        schema:
          type: string
          example: TC663795B
      - name: taxYear
        in: path
        description: The tax year the data applies to, for example, 2021-22. The start year and end year must not span two tax years. The minimum tax year is 2017-18. No gaps are allowed, for example, 2020-22 is not valid.
        required: true
        style: simple
        schema:
          type: string
          example: 2021-22
      - name: finalDeclaration
        in: query
        description: Must be sent as "true" when the user is ready to submit a final declaration. Acceptable values are "true" and "false".
        style: form
        explode: true
        schema:
          type: string
      - name: Gov-Test-Scenario
        in: header
        description: Only in sandbox environment. See Test Data table for all header values.
        style: simple
        schema:
          type: string
          example: '-'
      responses:
        '202':
          description: ''
          headers:
            X-CorrelationId:
              description: Unique ID for operation tracking <br> String, 36 characters.
              content:
                text/plain:
                  schema:
                    type: string
                    description: Unique ID for operation tracking <br> String, 36 characters.
                    example: c75f40a6-a3df-4429-a697-471eeec46435
                  example: c75f40a6-a3df-4429-a697-471eeec46435
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TriggeraSelfAssessmentTaxCalculation'
              example:
                calculationId: f2fb30e5-4ab6-4a29-b3c1-c7264259ff1c
                links:
                - href: /individuals/calculations/RW399019B/self-assessment
                  rel: list
                  method: GET
                - href: /individuals/calculations/RW399019B/self-assessment/2020-21/f2fb30e5-4ab6-4a29-b3c1-c7264259ff1c
                  rel: self
                  method: GET
        '400':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                formatNino:
                  description: The format of the supplied NINO field is not valid.
                  value:
                    code: FORMAT_NINO
                formatTaxYear:
                  description: The format of the supplied taxYear value is not valid.
                  value:
                    code: FORMAT_TAX_YEAR
                formatFinalDeclaration:
                  description: The format of the supplied finalDeclaration value is not valid.
                  value:
                    code: FORMAT_FINAL_DECLARATION
                rule_TaxYearNotSupported:
                  description: The specified tax year is not supported. That is, the tax year specified is before the minimum tax year value.
                  value:
                    code: RULE_TAX_YEAR_NOT_SUPPORTED
                ruleTaxYearRangeInvalid:
                  description: Tax year range invalid. A tax year range of one year is required.
                  value:
                    code: RULE_TAX_YEAR_RANGE_INVALID
                ruleIncorrectGTS:
                  description: The request did not match any available Sandbox data. Check that the supplied Gov-Test-Scenario is correct for this endpoint version. This error will only be returned in the Sandbox environment.
                  value:
                    code: RULE_INCORRECT_GOV_TEST_SCENARIO
        '403':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                ruleNoIncomeSubmissionExists:
                  description: A calculation could not be performed because no income data has been submitted against the tax year.
                  value:
                    code: RULE_NO_INCOME_SUBMISSIONS_EXIST
                clientOrAgentNotAuthorised:
                  description: 'The client and/or agent is not authorised. This is normally because: the client is not subscribed to MTD, the agent is not subscribed to Agent Services, or the client has not authorised the agent to act on their behalf.'
                  value:
                    code: CLIENT_OR_AGENT_NOT_AUTHORISED
                ruleFinalDeclarationReceived:
                  description: Final declaration has already been received.
                  value:
                    code: RULE_FINAL_DECLARATION_RECEIVED
      deprecated: false
  /individuals/calculations/{nino}/self-assessment/{taxYear}/{calculationId}:
    get:
      tags:
      - individuals
      summary: Retrieve a Self Assessment Tax Calculation [test only]
      description: This endpoint allows the developer to retrieve all the tax calculation data for a given NINO and Calculation ID.
      operationId: RetrieveaSelfAssessmentTaxCalculation[testonly]
      parameters:
      - name: nino
        in: path
        description: National Insurance number, in the format AA999999A.
        required: true
        style: simple
        schema:
          type: string
          example: TC663795B
      - name: taxYear
        in: path
        description: The tax year the data applies to, for example, 2021-22. The start year and end year must not span two tax years. The minimum tax year is 2017-18. No gaps are allowed, for example, 2020-22 is not valid.
        required: true
        style: simple
        schema:
          type: string
          example: 2021-22
      - name: calculationId
        in: path
        description: >-
          The unique identifier of the calculation.


          Must conform to the regular expression: `^[0-9]{8}|[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$`
        required: true
        style: simple
        schema:
          type: string
          example: f2fb30e5-4ab6-4a29-b3c1-c7264259ff1c
      - name: Gov-Test-Scenario
        in: header
        description: Only in sandbox environment. See Test Data table for all header values.
        style: simple
        schema:
          type: string
          example: '-'
      responses:
        '200':
          description: ''
          headers:
            X-CorrelationId:
              description: Unique ID for operation tracking <br> String, 36 characters.
              content:
                text/plain:
                  schema:
                    type: string
                    description: Unique ID for operation tracking <br> String, 36 characters.
                    example: c75f40a6-a3df-4429-a697-471eeec46435
                  example: c75f40a6-a3df-4429-a697-471eeec46435
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndividualsCalculationsSelfAssessmentCalculationIdresponse'
              example:
                metadata:
                  calculationId: f2fb30e5-4ab6-4a29-b3c1-c7264259ff1c
                  taxYear: 2021-22
                  requestedBy: customer
                  requestedTimestamp: 2021-02-15T09:35:15.094Z
                  calculationReason: customerRequest
                  calculationTimestamp: 2021-08-15T09:35:15.094Z
                  calculationType: finalDeclaration
                  intentToSubmitFinalDeclaration: true
                  finalDeclaration: true
                  finalDeclarationTimestamp: 2021-02-15T09:35:15.094Z
                  periodFrom: 2021-04-06
                  periodTo: 2022-04-05
                inputs:
                  personalInformation:
                    identifier: VO123456A
                    dateOfBirth: 1988-08-27
                    taxRegime: UK
                    statePensionAgeDate: 2050-04-06
                    studentLoanPlan:
                    - planType: plan1
                    class2VoluntaryContributions: true
                    marriageAllowance: transferor
                    uniqueTaxpayerReference: AGvHTfRUPO
                  incomeSources:
                    businessIncomeSources:
                    - incomeSourceId: XBIS12345678910
                      incomeSourceType: self-employment
                      incomeSourceName: Self-Employment Business One
                      accountingPeriodStartDate: 2021-04-06
                      accountingPeriodEndDate: 2022-04-05
                      source: MTD-SA
                      latestPeriodEndDate: 2022-04-05
                      latestReceivedDateTime: 2022-12-02T15:25:48.475Z
                      finalised: true
                      finalisationTimestamp: 2022-02-15T09:35:15.094Z
                      submissionPeriods:
                      - periodId: '001'
                        startDate: 2021-04-06
                        endDate: 2022-07-05
                        receivedDateTime: 2022-02-15T09:35:04.843Z
                    nonBusinessIncomeSources:
                    - incomeSourceId: XPIS12345678910
                      incomeSourceType: uk-savings-and-gains
                      incomeSourceName: Savings Account One
                      startDate: 2021-04-06
                      endDate: 2022-04-05
                      source: MTD-SA
                      periodId: '001'
                      latestReceivedDateTime: 2022-08-01T13:02:09.775Z
                  annualAdjustments:
                  - incomeSourceId: XBIS12345678910
                    incomeSourceType: self-employment
                    bsasId: 123a456b-789c-1d23-845e-678b9d1bd2ab
                    receivedDateTime: 2022-12-02T15:25:48.475Z
                    applied: true
                  lossesBroughtForward:
                  - lossId: 0yriP9QrW2jTa6n
                    incomeSourceId: XBIS12345678910
                    incomeSourceType: self-employment
                    submissionTimestamp: 2022-12-02T15:25:48.475Z
                    lossType: income
                    taxYearLossIncurred: 2020-21
                    currentLossValue: 12500
                    mtdLoss: false
                  claims:
                  - claimId: 0vayS9JrW2jTa6n
                    originatingClaimId: 1vayS9JrW2jTa6p
                    incomeSourceId: '000000000000210'
                    incomeSourceType: self-employment
                    submissionTimestamp: 2022-12-02T15:25:48.475Z
                    taxYearClaimMade: 2021-22
                    claimType: carry-forward
                    sequence: 1
                  constructionIndustryScheme:
                  - employerRef: 123/AA12345
                    contractorName: Company-123 Ltd.
                    periodData:
                    - deductionFromDate: 2021-11-02
                      deductionToDate: 2021-12-02
                      submissionTimestamp: 2021-12-10T15:25:48.475Z
                      source: contractor
                      deductionAmount: 5000.99
                  allowancesReliefsAndDeductions:
                  - type: investmentReliefs
                    submittedTimestamp: 2021-12-10T15:25:48.475Z
                    startDate: 2021-11-02
                    endDate: 2021-12-02
                    source: MTD-SA
                  pensionContributionAndCharges:
                  - type: pensionReliefs
                    submissionTimestamp: 2021-12-10T15:25:48.475Z
                    startDate: 2021-11-02
                    endDate: 2021-12-02
                    source: customer
                  other:
                  - type: codingOut
                    submittedOn: 2021-12-04T15:25:48.475Z
                calculation:
                  allowancesAndDeductions:
                    personalAllowance: 12500
                    marriageAllowanceTransferOut:
                      personalAllowanceBeforeTransferOut: 5000.99
                      transferredOutAmount: 5000.99
                    reducedPersonalAllowance: 12500
                    giftOfInvestmentsAndPropertyToCharity: 12500
                    blindPersonsAllowance: 12500
                    lossesAppliedToGeneralIncome: 12500
                    cgtLossSetAgainstInYearGeneralIncome: 12500
                    qualifyingLoanInterestFromInvestments: 5000.99
                    postCessationTradeReceipts: 5000.99
                    paymentsToTradeUnionsForDeathBenefits: 5000.99
                    grossAnnuityPayments: 5000.99
                    annuityPayments:
                      reliefClaimed: 5000.99
                      rate: 20.99
                    pensionContributions: 5000.99
                    pensionContributionsDetail:
                      retirementAnnuityPayments: 5000.99
                      paymentToEmployersSchemeNoTaxRelief: 5000.99
                      overseasPensionSchemeContributions: 5000.99
                  reliefs:
                    residentialFinanceCosts:
                      adjustedTotalIncome: 5000.99
                      totalAllowableAmount: 5000.99
                      relievableAmount: 5000.99
                      rate: 20.99
                      totalResidentialFinanceCostsRelief: 5000.99
                      ukProperty:
                        amountClaimed: 12500
                        allowableAmount: 5000.99
                        carryForwardAmount: 5000.99
                      foreignProperty:
                        totalForeignPropertyAllowableAmount: 5000.99
                        foreignPropertyRfcDetail:
                        - countryCode: FRA
                          amountClaimed: 12500
                          allowableAmount: 5000.99
                          carryForwardAmount: 5000.99
                      allOtherIncomeReceivedWhilstAbroad:
                        totalOtherIncomeAllowableAmount: 5000.99
                        otherIncomeRfcDetail:
                        - countryCode: FRA
                          residentialFinancialCostAmount: 5000.99
                          broughtFwdResidentialFinancialCostAmount: 5000.99
                    reliefsClaimed:
                    - type: vctSubscriptions
                      amountClaimed: 5000.99
                      allowableAmount: 5000.99
                      amountUsed: 5000.99
                      rate: 20.99
                      reliefsClaimedDetail:
                      - amountClaimed: 5000.99
                        uniqueInvestmentRef: BAO123456A
                        name: VCT fund
                        socialEnterpriseName: SE Inc
                        companyName: Company Ltd.
                        deficiencyReliefType: lifeInsurance
                        customerReference: INPOLY123A
                    foreignTaxCreditRelief:
                      customerCalculatedRelief: true
                      totalForeignTaxCreditRelief: 5000.99
                      foreignTaxCreditReliefOnProperty: 5000.99
                      foreignTaxCreditReliefOnDividends: 5000.99
                      foreignTaxCreditReliefOnSavings: 5000.99
                      foreignTaxCreditReliefOnForeignIncome: 5000.99
                      foreignTaxCreditReliefDetail:
                      - incomeSourceType: foreign-dividends
                        incomeSourceId: XFIS12345678910
                        countryCode: FRA
                        foreignIncome: 5000.99
                        foreignTax: 5000.99
                        dtaRate: 20.99
                        dtaAmount: 5000.99
                        ukLiabilityOnIncome: 5000.99
                        foreignTaxCredit: 5000.99
                        employmentLumpSum: true
                    topSlicingRelief:
                      amount: 5000.99
                  taxDeductedAtSource:
                    bbsi: 5000.99
                    ukLandAndProperty: 5000.99
                    cis: 5000.99
                    securities: 5000.99
                    voidedIsa: 5000.99
                    payeEmployments: 5000.99
                    occupationalPensions: 5000.99
                    stateBenefits: -99999999999.99
                    specialWithholdingTaxOrUkTaxPaid: 5000.99
                    inYearAdjustmentCodedInLaterTaxYear: 5000.99
                  giftAid:
                    grossGiftAidPayments: 12500
                    rate: 20.99
                    giftAidTax: 5000.99
                    giftAidTaxReductions: 5000.99
                    incomeTaxChargedAfterGiftAidTaxReductions: 5000.99
                    giftAidCharge: 5000.99
                  royaltyPayments:
                    royaltyPaymentsAmount: 12500
                    rate: 20.99
                    grossRoyaltyPayments: 12500
                  notionalTax:
                    chargeableGains: 5000.99
                  marriageAllowanceTransferredIn:
                    amount: 5000.99
                    rate: 20.99
                  pensionContributionReliefs:
                    totalPensionContributionReliefs: 5000.99
                    pensionContributionDetail:
                      regularPensionContributions: 5000.99
                      oneOffPensionContributionsPaid: 5000.99
                  pensionSavingsTaxCharges:
                    totalPensionCharges: 5000.99
                    totalTaxPaid: 5000.99
                    totalPensionChargesDue: 5000.99
                    pensionSavingsTaxChargesDetail:
                      excessOfLifeTimeAllowance:
                        totalChargeableAmount: 5000.99
                        totalTaxPaid: 5000.99
                        lumpSumBenefitTakenInExcessOfLifetimeAllowance:
                          amount: 5000.99
                          taxPaid: 5000.99
                          rate: 20.99
                          chargeableAmount: 5000.99
                        benefitInExcessOfLifetimeAllowance:
                          amount: 5000.99
                          taxPaid: 5000.99
                          rate: 20.99
                          chargeableAmount: 5000.99
                      pensionSchemeUnauthorisedPayments:
                        totalChargeableAmount: 5000.99
                        totalTaxPaid: 5000.99
                        pensionSchemeUnauthorisedPaymentsSurcharge:
                          amount: 5000.99
                          taxPaid: 5000.99
                          rate: 20.99
                          chargeableAmount: 5000.99
                        pensionSchemeUnauthorisedPaymentsNonSurcharge:
                          amount: 5000.99
                          taxPaid: 5000.99
                          rate: 20.99
                          chargeableAmount: 5000.99
                      pensionSchemeOverseasTransfers:
                        transferCharge: 5000.99
                        transferChargeTaxPaid: 5000.99
                        rate: 20.99
                        chargeableAmount: 5000.99
                      pensionContributionsInExcessOfTheAnnualAllowance:
                        totalContributions: 5000.99
                        totalPensionCharge: 5000.99
                        annualAllowanceTaxPaid: 5000.99
                        totalPensionChargeDue: 5000.99
                        pensionBands:
                        - name: basic-rate
                          rate: 20.99
                          bandLimit: 12500
                          apportionedBandLimit: 12500
                          contributionAmount: 5000.99
                          pensionCharge: 5000.99
                      overseasPensionContributions:
                        totalShortServiceRefund: 5000.99
                        totalShortServiceRefundCharge: 5000.99
                        shortServiceRefundTaxPaid: 5000.99
                        totalShortServiceRefundChargeDue: 5000.99
                        shortServiceRefundBands:
                        - name: lowerBand
                          rate: 20.99
                          bandLimit: 12500
                          apportionedBandLimit: 12500
                          shortServiceRefundAmount: 5000.99
                          shortServiceRefundCharge: 5000.99
                  studentLoans:
                  - planType: plan1
                    studentLoanTotalIncomeAmount: 5000.99
                    studentLoanChargeableIncomeAmount: 5000.99
                    studentLoanRepaymentAmount: 5000.99
                    studentLoanDeductionsFromEmployment: 5000.99
                    studentLoanRepaymentAmountNetOfDeductions: 5000.99
                    studentLoanApportionedIncomeThreshold: 12500
                    studentLoanRate: 20.99
                    payeIncomeForStudentLoan: 5000.99
                    nonPayeIncomeForStudentLoan: 5000.99
                  codedOutUnderpayments:
                    totalPayeUnderpayments: 5000.99
                    payeUnderpaymentsDetail:
                    - amount: 5000.99
                      relatedTaxYear: 2021-22
                      source: customer
                    totalSelfAssessmentUnderpayments: 5000.99
                    totalCollectedSelfAssessmentUnderpayments: 5000.99
                    totalUncollectedSelfAssessmentUnderpayments: 5000.99
                    selfAssessmentUnderpaymentsDetail:
                    - amount: 5000.99
                      relatedTaxYear: 2021-22
                      source: customer
                      collectedAmount: 5000.99
                      uncollectedAmount: 5000.99
                  foreignPropertyIncome:
                  - incomeSourceId: XFIS12345678911
                    incomeSourceType: foreign-property
                    countryCode: USA
                    totalIncome: 5000.99
                    totalExpenses: 5000.99
                    netProfit: 5000.99
                    netLoss: 5000.99
                    totalAdditions: 5000.99
                    totalDeductions: 5000.99
                    taxableProfit: 5000.99
                    adjustedIncomeTaxLoss: 5000.99
                  businessProfitAndLoss:
                  - incomeSourceId: XBIS12345678911
                    incomeSourceType: self-employment
                    incomeSourceName: Self-Employment Business One
                    totalIncome: 5000.99
                    totalExpenses: -99999999999.99
                    netProfit: 5000.99
                    netLoss: 5000.99
                    totalAdditions: -99999999999.99
                    totalDeductions: 5000.99
                    accountingAdjustments: -99999999999.99
                    taxableProfit: 12500
                    adjustedIncomeTaxLoss: 12500
                    totalBroughtForwardIncomeTaxLosses: 12500
                    lossForCSFHL: 12500
                    broughtForwardIncomeTaxLossesUsed: 12500
                    taxableProfitAfterIncomeTaxLossesDeduction: 12500
                    carrySidewaysIncomeTaxLossesUsed: 12500
                    broughtForwardCarrySidewaysIncomeTaxLossesUsed: 12500
                    totalIncomeTaxLossesCarriedForward: 12500
                    class4Loss: 12500
                    totalBroughtForwardClass4Losses: 12500
                    broughtForwardClass4LossesUsed: 12500
                    carrySidewaysClass4LossesUsed: 12500
                    totalClass4LossesCarriedForward: 12500
                  employmentAndPensionsIncome:
                    totalPayeEmploymentAndLumpSumIncome: 5000.99
                    totalOccupationalPensionIncome: 5000.99
                    totalBenefitsInKind: 5000.99
                    tipsIncome: 5000.99
                    employmentAndPensionsIncomeDetail:
                    - incomeSourceId: bb74c290-cae6-11ec-9b64-0242ac120002
                      source: customer
                      occupationalPension: true
                      employerRef: 123/AA12345
                      employerName: Green Ltd.
                      payrollId: YDIAHPcYFQbOXLCKQ
                      startDate: 2021-01-02
                      dateEmploymentEnded: 2021-12-02
                      taxablePayToDate: 5000.99
                      totalTaxToDate: -99999999999.99
                      disguisedRemuneration: true
                      lumpSums:
                        totalLumpSum: 5000.99
                        totalTaxPaid: 5000.99
                        lumpSumsDetail:
                          taxableLumpSumsAndCertainIncome:
                            amount: 5000.99
                            taxPaid: 5000.99
                            taxTakenOffInEmployment: true
                          benefitFromEmployerFinancedRetirementScheme:
                            amount: 5000.99
                            exemptAmount: 5000.99
                            taxPaid: 5000.99
                            taxTakenOffInEmployment: true
                          redundancyCompensationPaymentsOverExemption:
                            amount: 5000.99
                            taxPaid: 5000.99
                            taxTakenOffInEmployment: true
                          redundancyCompensationPaymentsUnderExemption:
                            amount: 5000.99
                      studentLoans:
                        uglDeductionAmount: 5000.99
                        pglDeductionAmount: 5000.99
                      benefitsInKind:
                        totalBenefitsInKindReceived: 5000.99
                        benefitsInKindDetail:
                          apportionedAccommodation: 5000.99
                          apportionedAssets: 5000.99
                          apportionedAssetTransfer: 5000.99
                          apportionedBeneficialLoan: 5000.99
                          apportionedCar: 5000.99
                          apportionedCarFuel: 5000.99
                          apportionedEducationalServices: 5000.99
                          apportionedEntertaining: 5000.99
                          apportionedExpenses: 5000.99
                          apportionedMedicalInsurance: 5000.99
                          apportionedTelephone: 5000.99
                          apportionedService: 5000.99
                          apportionedTaxableExpenses: 5000.99
                          apportionedVan: 5000.99
                          apportionedVanFuel: 5000.99
                          apportionedMileage: 5000.99
                          apportionedNonQualifyingRelocationExpenses: 5000.99
                          apportionedNurseryPlaces: 5000.99
                          apportionedOtherItems: 5000.99
                          apportionedPaymentsOnEmployeesBehalf: 5000.99
                          apportionedPersonalIncidentalExpenses: 5000.99
                          apportionedQualifyingRelocationExpenses: 5000.99
                          apportionedEmployerProvidedProfessionalSubscriptions: 5000.99
                          apportionedEmployerProvidedServices: 5000.99
                          apportionedIncomeTaxPaidByDirector: 5000.99
                          apportionedTravelAndSubsistence: 5000.99
                          apportionedVouchersAndCreditCards: 5000.99
                          apportionedNonCash: 5000.99
                  employmentExpenses:
                    totalEmploymentExpenses: 5000.99
                    employmentExpensesDetail:
                      businessTravelCosts: 5000.99
                      jobExpenses: 5000.99
                      flatRateJobExpenses: 5000.99
                      professionalSubscriptions: 5000.99
                      hotelAndMealExpenses: 5000.99
                      otherAndCapitalAllowances: 5000.99
                      vehicleExpenses: 5000.99
                      mileageAllowanceRelief: 5000.99
                  seafarersDeductions:
                    totalSeafarersDeduction: 5000.99
                    seafarersDeductionDetail:
                    - nameOfShip: Blue Bell
                      amountDeducted: 5000.99
                  foreignTaxForFtcrNotClaimed:
                    foreignTaxOnForeignEmployment: 5000.99
                  stateBenefitsIncome:
                    totalStateBenefitsIncome: 5000.99
                    totalStateBenefitsTaxPaid: -99999999999.99
                    stateBenefitsDetail:
                      incapacityBenefit:
                      - incomeSourceId: bc51a3eb-e374-11b9-aa02-96db92561138
                        amount: 5000.99
                        taxPaid: 5000.99
                        source: customer
                      statePension:
                      - incomeSourceId: cb74c290-cae6-11ec-bb64-0242ac121114
                        amount: 5000.99
                        source: customer
                      statePensionLumpSum:
                      - incomeSourceId: dc45c178-bac5-22ec-9b65-1351bd140002
                        amount: 5000.99
                        taxPaid: 5000.99
                        rate: 20.99
                        source: customer
                      employmentSupportAllowance:
                      - incomeSourceId: e4bf331e-0e55-297f-8a74-c766674775d4
                        amount: 5000.99
                        taxPaid: -99999999999.99
                        source: customer
                      jobSeekersAllowance:
                      - incomeSourceId: f4af222e-0b44-286f-9a65-c655674776d8
                        amount: 5000.99
                        taxPaid: -99999999999.99
                        source: customer
                      bereavementAllowance:
                      - incomeSourceId: ae99d345-dab5-25dc-9b19-0252bc322252
                        amount: 5000.99
                        source: customer
                      otherStateBenefits:
                      - incomeSourceId: bf87eb89-3d07-1496-89da-cf16d45c934b
                        amount: 5000.99
                        source: customer
                  shareSchemesIncome:
                    totalIncome: 5000.99
                    shareSchemeDetail:
                    - type: shareOption
                      employerName: ABC-123 Ltd.
                      employerRef: 123/AB56797
                      taxableAmount: 5000.99
                  foreignIncome:
                    chargeableOverseasPensionsStateBenefitsRoyalties: 5000.99
                    overseasPensionsStateBenefitsRoyaltiesDetail:
                    - countryCode: FRA
                      grossIncome: 5000.99
                      netIncome: 5000.99
                      taxDeducted: 5000.99
                      foreignTaxCreditRelief: true
                    chargeableAllOtherIncomeReceivedWhilstAbroad: 5000.99
                    allOtherIncomeReceivedWhilstAbroadDetail:
                    - countryCode: FRA
                      grossIncome: 5000.99
                      netIncome: 5000.99
                      taxDeducted: 5000.99
                      foreignTaxCreditRelief: true
                    overseasIncomeAndGains:
                      gainAmount: 5000.99
                    totalForeignBenefitsAndGifts: 5000.99
                    chargeableForeignBenefitsAndGiftsDetail:
                      transactionBenefit: 5000.99
                      protectedForeignIncomeSourceBenefit: 5000.99
                      protectedForeignIncomeOnwardGift: 5000.99
                      benefitReceivedAsASettler: 5000.99
                      onwardGiftReceivedAsASettler: 5000.99
                  chargeableEventGainsIncome:
                    totalOfAllGains: 12500
                    totalGainsWithTaxPaid: 12500
                    gainsWithTaxPaidDetail:
                    - type: lifeInsurance
                      customerReference: string
                      gainAmount: 5000.99
                      yearsHeld: 0
                      yearsHeldSinceLastGain: 0
                    totalGainsWithNoTaxPaidAndVoidedIsa: 12500
                    gainsWithNoTaxPaidAndVoidedIsaDetail:
                    - type: lifeInsurance
                      customerReference: INPOLY123B
                      gainAmount: 5000.99
                      yearsHeld: 0
                      yearsHeldSinceLastGain: 0
                      voidedIsaTaxPaid: 5000.99
                    totalForeignGainsOnLifePoliciesTaxPaid: 12500
                    foreignGainsOnLifePoliciesTaxPaidDetail:
                    - customerReference: INPOLY123C
                      gainAmount: 5000.99
                      taxPaidAmount: 5000.99
                      yearsHeld: 0
                    totalForeignGainsOnLifePoliciesNoTaxPaid: 12500
                    foreignGainsOnLifePoliciesNoTaxPaidDetail:
                    - customerReference: INPOLY123D
                      gainAmount: 5000.99
                      yearsHeld: 0
                  savingsAndGainsIncome:
                    totalChargeableSavingsAndGains: 12500
                    totalUkSavingsAndGains: 12500
                    ukSavingsAndGainsIncome:
                    - incomeSourceId: XPIS12345678911
                      incomeSourceType: uk-savings-and-gains
                      incomeSourceName: My Savings Account One
                      grossIncome: 5000.99
                      netIncome: 5000.99
                      taxDeducted: 5000.99
                    chargeableForeignSavingsAndGains: 12500
                    foreignSavingsAndGainsIncome:
                    - incomeSourceType: foreign-savings-and-gains
                      countryCode: DEU
                      grossIncome: 5000.99
                      netIncome: 5000.99
                      taxDeducted: 5000.99
                      foreignTaxCreditRelief: true
                  dividendsIncome:
                    totalChargeableDividends: 12500
                    totalUkDividends: 12500
                    ukDividends:
                      incomeSourceId: XPIS12345678912
                      incomeSourceType: uk-dividends
                      dividends: 12500
                      otherUkDividends: 12500
                    otherDividends:
                    - typeOfDividend: stockDividend
                      customerReference: ODPDLY235A
                      grossAmount: 5000.99
                    chargeableForeignDividends: 12500
                    foreignDividends:
                    - incomeSourceType: foreign-dividends
                      countryCode: FRA
                      grossIncome: 5000.99
                      netIncome: 5000.99
                      taxDeducted: 5000.99
                      foreignTaxCreditRelief: true
                    dividendIncomeReceivedWhilstAbroad:
                    - incomeSourceType: foreign-dividends
                      countryCode: ITA
                      grossIncome: 5000.99
                      netIncome: 5000.99
                      taxDeducted: 5000.99
                      foreignTaxCreditRelief: true
                  incomeSummaryTotals:
                    totalSelfEmploymentProfit: 12500
                    totalPropertyProfit: 12500
                    totalFHLPropertyProfit: 12500
                    totalUKOtherPropertyProfit: 12500
                    totalForeignPropertyProfit: 12500
                    totalEeaFhlProfit: 12500
                    totalEmploymentIncome: 12500
                  taxCalculation:
                    incomeTax:
                      totalIncomeReceivedFromAllSources: 12500
                      totalAllowancesAndDeductions: 12500
                      totalTaxableIncome: 12500
                      payPensionsProfit:
                        incomeReceived: 12500
                        allowancesAllocated: 12500
                        taxableIncome: 12500
                        incomeTaxAmount: 5000.99
                        taxBands:
                        - name: savings-starter-rate
                          rate: 20.99
                          bandLimit: 12500
                          apportionedBandLimit: 12500
                          income: 12500
                          taxAmount: 5000.99
                      savingsAndGains:
                        incomeReceived: 12500
                        allowancesAllocated: 12500
                        taxableIncome: 12500
                        incomeTaxAmount: 5000.99
                        taxBands:
                        - name: savings-starter-rate
                          rate: 20.99
                          bandLimit: 12500
                          apportionedBandLimit: 12500
                          income: 12500
                          taxAmount: 5000.99
                      dividends:
                        incomeReceived: 12500
                        allowancesAllocated: 12500
                        taxableIncome: 12500
                        incomeTaxAmount: 5000.99
                        taxBands:
                        - name: savings-starter-rate
                          rate: 20.99
                          bandLimit: 12500
                          apportionedBandLimit: 12500
                          income: 12500
                          taxAmount: 5000.99
                      lumpSums:
                        incomeReceived: 12500
                        allowancesAllocated: 12500
                        taxableIncome: 12500
                        incomeTaxAmount: 5000.99
                        taxBands:
                        - name: savings-starter-rate
                          rate: 20.99
                          bandLimit: 12500
                          apportionedBandLimit: 12500
                          income: 12500
                          taxAmount: 5000.99
                      gainsOnLifePolicies:
                        incomeReceived: 12500
                        allowancesAllocated: 12500
                        taxableIncome: 12500
                        incomeTaxAmount: 5000.99
                        taxBands:
                        - name: savings-starter-rate
                          rate: 20.99
                          bandLimit: 12500
                          apportionedBandLimit: 12500
                          income: 12500
                          taxAmount: 5000.99
                      incomeTaxCharged: 5000.99
                      totalReliefs: 5000.99
                      incomeTaxDueAfterReliefs: -99999999999.99
                      totalNotionalTax: 5000.99
                      marriageAllowanceRelief: 5000.99
                      incomeTaxDueAfterTaxReductions: 5000.99
                      incomeTaxDueAfterGiftAid: 5000.99
                      totalPensionSavingsTaxCharges: 5000.99
                      statePensionLumpSumCharges: 5000.99
                      payeUnderpaymentsCodedOut: 5000.99
                      totalIncomeTaxDue: 5000.99
                    nics:
                      class2Nics:
                        amount: 5000.99
                        weeklyRate: 5000.99
                        weeks: 0
                        limit: 12500
                        apportionedLimit: 12500
                        underSmallProfitThreshold: true
                        actualClass2Nic: true
                      class4Nics:
                        totalIncomeLiableToClass4Charge: 12500
                        totalClass4LossesAvailable: 12500
                        totalClass4LossesUsed: 12500
                        totalClass4LossesCarriedForward: 12500
                        totalIncomeChargeableToClass4: 12500
                        totalAmount: 5000.99
                        nic4Bands:
                        - name: zero-rate
                          rate: 20.99
                          threshold: 12500
                          apportionedThreshold: 12500
                          income: 12500
                          amount: 5000.99
                      nic2NetOfDeductions: -99999999999.99
                      nic4NetOfDeductions: -99999999999.99
                      totalNic: -99999999999.99
                    totalTaxDeductedBeforeCodingOut: 5000.99
                    saUnderpaymentsCodedOut: 5000.99
                    totalAnnuityPaymentsTaxCharged: 12500
                    totalRoyaltyPaymentsTaxCharged: 5000.99
                    totalIncomeTaxNicsCharged: -99999999999.99
                    totalStudentLoansRepaymentAmount: 5000.99
                    totalTaxDeducted: -99999999999.99
                    totalIncomeTaxAndNicsDue: -99999999999.99
                    capitalGainsTax:
                      totalCapitalGainsIncome: 5000.99
                      annualExemptionAmount: 5000.99
                      totalTaxableGains: 5000.99
                      businessAssetsDisposalsAndInvestorsRel:
                        gainsIncome: 5000.99
                        lossesBroughtForward: 5000.99
                        lossesArisingThisYear: 5000.99
                        gainsAfterLosses: 5000.99
                        annualExemptionAmount: 5000.99
                        taxableGains: 5000.99
                        rate: 20.99
                        taxAmount: 5000.99
                      residentialPropertyAndCarriedInterest:
                        gainsIncome: 5000.99
                        lossesBroughtForward: 5000.99
                        lossesArisingThisYear: 5000.99
                        gainsAfterLosses: 5000.99
                        annualExemptionAmount: 5000.99
                        taxableGains: 5000.99
                        cgtTaxBands:
                        - name: lower-rate
                          rate: 20.99
                          income: 5000.99
                          taxAmount: 5000.99
                        totalTaxAmount: 5000.99
                      otherGains:
                        gainsIncome: 5000.99
                        lossesBroughtForward: 5000.99
                        lossesArisingThisYear: 5000.99
                        gainsAfterLosses: 5000.99
                        attributedGains: 5000.99
                        netGains: 5000.99
                        annualExemptionAmount: 5000.99
                        taxableGains: 5000.99
                        cgtTaxBands:
                        - name: lower-rate
                          rate: 20.99
                          income: 5000.99
                          taxAmount: 5000.99
                        totalTaxAmount: 5000.99
                      capitalGainsTaxAmount: 5000.99
                      adjustments: -99999999999.99
                      adjustedCapitalGainsTax: 5000.99
                      foreignTaxCreditRelief: 5000.99
                      capitalGainsTaxAfterFTCR: 5000.99
                      taxOnGainsAlreadyPaid: 5000.99
                      capitalGainsTaxDue: 5000.99
                      capitalGainsOverpaid: 5000.99
                    totalIncomeTaxAndNicsAndCgt: 5000.99
                  previousCalculation:
                    calculationTimestamp: 2021-12-02T15:25:48.475Z
                    calculationId: f2fb30e5-4ab6-4a29-b3c1-c7264259ff1c
                    totalIncomeTaxAndNicsDue: -99999999999.99
                    cgtTaxDue: 5000.99
                    totalIncomeTaxAndNicsAndCgtDue: 5000.99
                    incomeTaxNicDueThisPeriod: -99999999999.99
                    cgtDueThisPeriod: 99999999999.99
                    totalIncomeTaxAndNicsAndCgtDueThisPeriod: 5000.99
                  endOfYearEstimate:
                    incomeSource:
                    - incomeSourceId: XBIS12345678920
                      incomeSourceType: self-employment
                      incomeSourceName: Self-Employment Business One
                      taxableIncome: 12500
                      finalised: true
                    totalEstimatedIncome: 12500
                    totalTaxableIncome: 12500
                    incomeTaxAmount: 5000.99
                    nic2: 5000.99
                    nic4: 5000.99
                    totalTaxDeductedBeforeCodingOut: 5000.99
                    saUnderpaymentsCodedOut: 5000.99
                    totalNicAmount: 5000.99
                    totalStudentLoansRepaymentAmount: 5000.99
                    totalAnnuityPaymentsTaxCharged: 5000.99
                    totalRoyaltyPaymentsTaxCharged: 5000.99
                    totalTaxDeducted: -99999999999.99
                    incomeTaxNicAmount: -99999999999.99
                    cgtAmount: 5000.99
                    incomeTaxNicAndCgtAmount: 5000.99
                  lossesAndClaims:
                    resultOfClaimsApplied:
                    - claimId: 0xcuS9JrW2jTa6d
                      originatingClaimId: 0vbyS9JrW2jTa6x
                      incomeSourceId: XBIS12345678915
                      incomeSourceType: self-employment
                      taxYearClaimMade: 2021-22
                      claimType: carry-forward
                      mtdLoss: false
                      taxYearLossIncurred: 2020-21
                      lossAmountUsed: 12500
                      remainingLossValue: 12500
                      lossType: income
                    unclaimedLosses:
                    - incomeSourceId: XBIS12345678916
                      incomeSourceType: self-employment
                      taxYearLossIncurred: 2020-21
                      currentLossValue: 12500
                      lossType: income
                    carriedForwardLosses:
                    - claimId: 5xpu66JrW2jTa6c
                      originatingClaimId: 0vXc69prW2jTar6
                      incomeSourceId: XBIS12345678917
                      incomeSourceType: self-employment
                      claimType: carry-forward
                      taxYearClaimMade: 2021-22
                      taxYearLossIncurred: 2020-21
                      currentLossValue: 12500
                      lossType: income
                    defaultCarriedForwardLosses:
                    - incomeSourceId: XBIS12345678918
                      incomeSourceType: self-employment
                      taxYearLossIncurred: 2020-21
                      currentLossValue: 12500
                    claimsNotApplied:
                    - claimId: 6vry11JrW5jTvxt
                      incomeSourceId: XBIS12345678919
                      incomeSourceType: self-employment
                      taxYearClaimMade: 2021-22
                      claimType: carry-forward
                messages:
                  info:
                  - id: C22203
                    text: Class 2 National Insurance has not been charged as your self-employed profits are under the small profit threshold.
                  warnings:
                  - id: C11317
                    text: Class 4 exemption - calculation has been adjusted Individual’s age is equal to or greater than 16 years old on the 6th April of current tax year
                  errors:
                  - id: C95005
                    text: Final confirmation of income and expenses for all business sources has not been provided
                links:
                - href: /individuals/calculations/TC663795B/self-assessment/2021-22
                  rel: trigger
                  method: POST
                - href: /individuals/calculations/TC663795B/self-assessment/2021-22/f2fb30e5-4ab6-4a29-b3c1-c7264259ff1c
                  rel: self
                  method: GET
        '400':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                formatNino:
                  description: The format of the supplied NINO field is not valid.
                  value:
                    code: FORMAT_NINO
                formatCalcId:
                  description: The format of the supplied Calculation ID is not valid.
                  value:
                    code: FORMAT_CALC_ID
                formatTaxYear:
                  description: The format of the supplied taxYear value is not valid.
                  value:
                    code: FORMAT_TAX_YEAR
                rule_TaxYearNotSupported:
                  description: The specified tax year is not supported. That is, the tax year specified is before the minimum tax year value.
                  value:
                    code: RULE_TAX_YEAR_NOT_SUPPORTED
                ruleTaxYearRangeInvalid:
                  description: Tax year range invalid. A tax year range of one year is required.
                  value:
                    code: RULE_TAX_YEAR_RANGE_INVALID
                ruleIncorrectGTS:
                  description: The request did not match any available Sandbox data. Check that the supplied Gov-Test-Scenario is correct for this endpoint version. This error will only be returned in the Sandbox environment.
                  value:
                    code: RULE_INCORRECT_GOV_TEST_SCENARIO
        '403':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                clientOrAgentNotAuthorised:
                  description: 'The client and/or agent is not authorised. This is normally because: the client is not subscribed to MTD, the agent is not subscribed to Agent Services, or the client has not authorised the agent to act on their behalf.'
                  value:
                    code: CLIENT_OR_AGENT_NOT_AUTHORISED
        '404':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                notFound:
                  description: The supplied income source could not be found.
                  value:
                    code: MATCHING_RESOURCE_NOT_FOUND
      deprecated: false
  /individuals/calculations/{nino}/self-assessment/{taxYear}/{calculationId}/final-declaration:
    post:
      tags:
      - individuals
      summary: Submit a Self Assessment Final Declaration [test only]
      description: This endpoint allows the developer to submit a final declaration for a tax year by agreeing to the HMRC's tax calculation. A National Insurance number, tax year and calculation ID must be provided.
      operationId: SubmitaSelfAssessmentFinalDeclaration[testonly]
      parameters:
      - name: nino
        in: path
        description: National Insurance number, in the format AA999999A.
        required: true
        style: simple
        schema:
          type: string
          example: TC663795B
      - name: taxYear
        in: path
        description: The tax year the data applies to, for example, 2021-22. The start year and end year must not span two tax years. The minimum tax year is 2017-18. No gaps are allowed, for example, 2020-22 is not valid.
        required: true
        style: simple
        schema:
          type: string
          example: 2021-22
      - name: calculationId
        in: path
        description: >-
          The unique identifier of the calculation.


          Must conform to the regular expression: `^[0-9]{8}|[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$`
        required: true
        style: simple
        schema:
          type: string
          example: f2fb30e5-4ab6-4a29-b3c1-c7264259ff1c
      - name: Gov-Test-Scenario
        in: header
        description: Only in sandbox environment. See Test Data table for all header values.
        style: simple
        schema:
          type: string
          example: '-'
      responses:
        '204':
          description: ''
          headers:
            X-CorrelationId:
              description: Unique ID for operation tracking <br> String, 36 characters.
              content:
                text/plain:
                  schema:
                    type: string
                    description: Unique ID for operation tracking <br> String, 36 characters.
                    example: c75f40a6-a3df-4429-a697-471eeec46435
                  example: c75f40a6-a3df-4429-a697-471eeec46435
          content: {}
        '400':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                formatNino:
                  description: The format of the supplied NINO field is not valid.
                  value:
                    code: FORMAT_NINO
                formatTaxYear:
                  description: The format of the supplied taxYear value is not valid.
                  value:
                    code: FORMAT_TAX_YEAR
                formatCalculationId:
                  description: Invalid Calculation ID.
                  value:
                    code: FORMAT_CALCULATION_ID
                ruleTaxYearRangeInvalid:
                  description: Tax year range invalid. A tax year range of one year is required.
                  value:
                    code: RULE_TAX_YEAR_RANGE_INVALID
                rule_TaxYearNotSupported:
                  description: The specified tax year is not supported. That is, the tax year specified is before the minimum tax year value.
                  value:
                    code: RULE_TAX_YEAR_NOT_SUPPORTED
                ruleIncorrectGTS:
                  description: The request did not match any available Sandbox data. Check that the supplied Gov-Test-Scenario is correct for this endpoint version. This error will only be returned in the Sandbox environment.
                  value:
                    code: RULE_INCORRECT_GOV_TEST_SCENARIO
        '403':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                ruleIncomeSourcesChanged:
                  description: Information relating to your income sources changed. You must trigger a new calculation using Intent to Submit a Final Declaration again before final declaration.
                  value:
                    code: RULE_INCOME_SOURCES_CHANGED
                ruleRecentSubmissionsExist:
                  description: More recent submissions exist. You must trigger a new calculation using Intent to Submit a Final Declaration again before final declaration.
                  value:
                    code: RULE_RECENT_SUBMISSIONS_EXIST
                ruleResidencyChanged:
                  description: Your residency has changed. You must trigger a new calculation using Intent to Submit a Final Declaration again before final declaration.
                  value:
                    code: RULE_RESIDENCY_CHANGED
                ruleFinalDeclarationReceived:
                  description: Final declaration has already been received.
                  value:
                    code: RULE_FINAL_DECLARATION_RECEIVED
                ruleIncomeSourcesInvalid:
                  description: There are no valid income sources.
                  value:
                    code: RULE_INCOME_SOURCES_INVALID
                ruleNoIncomeSubmissionExists:
                  description: A calculation could not be performed because no income data has been submitted against the tax year.
                  value:
                    code: RULE_NO_INCOME_SUBMISSIONS_EXIST
                ruleSubmissionFailed:
                  description: The submission cannot be completed due to validation failures.
                  value:
                    code: RULE_SUBMISSION_FAILED
                clientOrAgentNotAuthorised:
                  description: 'The client and/or agent is not authorised. This is normally because: the client is not subscribed to MTD, the agent is not subscribed to Agent Services, or the client has not authorised the agent to act on their behalf.'
                  value:
                    code: CLIENT_OR_AGENT_NOT_AUTHORISED
        '404':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                notFound:
                  description: The supplied income source could not be found.
                  value:
                    code: MATCHING_RESOURCE_NOT_FOUND
      deprecated: false
components:
  schemas:
    errorResponse:
      title: errorResponse
      required:
      - code
      type: object
      properties:
        code:
          type: string
    Type:
      title: Type
      enum:
      - info
      - warning
      - error
      type: string
      example: info
    AllOtherIncomeReceivedWhilstAbroad:
      title: AllOtherIncomeReceivedWhilstAbroad
      required:
      - totalOtherIncomeAllowableAmount
      - otherIncomeRfcDetail
      type: object
      properties:
        totalOtherIncomeAllowableAmount:
          type: number
          description: The total amount allowable for all other income received whilst abroad for residential finance costs. This value must be between 0 and 99999999999.99 up to 2 decimal places.
          example: 2009.58
        otherIncomeRfcDetail:
          type: array
          items:
            $ref: '#/components/schemas/OtherIncomeRfcDetail'
          description: Details residential finance costs for other income broken down by country.
      description: Details the residential finance costs for other income received whilst abroad.
    AllOtherIncomeReceivedWhilstAbroadDetail:
      title: AllOtherIncomeReceivedWhilstAbroadDetail
      required:
      - countryCode
      type: object
      properties:
        countryCode:
          type: string
          description: A three-letter code that represents a country name. This value must in ISO 3166-1 Alpha-3 format.
          example: FRA
        grossIncome:
          type: number
          description: Gross income from all other income received whilst abroad. This value must be between 0 and 99999999999.99 up to 2 decimal places.
          example: 502.99
        netIncome:
          type: number
          description: Net income from all other income received whilst abroad. This value must be between 0 and 99999999999.99 up to 2 decimal places.
          example: 503.99
        taxDeducted:
          type: number
          description: Tax deducted from all other income received whilst abroad. This value must be between 0 and 99999999999.99 up to 2 decimal places.
          example: 504.99
        foreignTaxCreditRelief:
          type: boolean
          description: A boolean indicating whether it's a Foreign Tax Credit Relief. This value must be true or false.
          example: true
    AllowancesAndDeductions:
      title: AllowancesAndDeductions
      type: object
      properties:
        personalAllowance:
          type: integer
          description: The personal allowance available for the tax year. This value must be between 0 and 99999999999. No decimals.
          format: int32
          example: 5000
        marriageAllowanceTransferOut:
          $ref: '#/components/schemas/MarriageAllowanceTransferOut'
        reducedPersonalAllowance:
          type: integer
          description: The amount that the personal allowance has been reduced to. This value must be between 0 and 99999999999. No decimals.
          format: int32
          example: 5001
        giftOfInvestmentsAndPropertyToCharity:
          type: integer
          description: Investments or property gifts made to charity. This value must be between 0 and 99999999999. No decimals.
          format: int32
          example: 5002
        blindPersonsAllowance:
          type: integer
          description: Blind Person's Allowance. This value must be between 0 and 99999999999. No decimals.
          format: int32
          example: 5003
        lossesAppliedToGeneralIncome:
          type: integer
          description: Losses that have been applied to general income. This value must be between 0 and 99999999999. No decimals.
          format: int32
          example: 5004
        cgtLossSetAgainstInYearGeneralIncome:
          type: integer
          description: CGT losses that have been applied to general income. This value must be between 0 and 99999999999. No decimals.
          format: int32
          example: 5005
        qualifyingLoanInterestFromInvestments:
          type: number
          description: Qualifying loan interest payments made. This value must be between 0 and 99999999999.99 up to 2 decimal places.
          example: 5006.06
        postCessationTradeReceipts:
          type: number
          description: Trade reliefs and other losses post cessation of a business. This value must be between 0 and 99999999999.99 up to 2 decimal places.
          example: 5007.77
        paymentsToTradeUnionsForDeathBenefits:
          type: number
          description: Payments made to a trade union or friendly society for death benefits. This value must be between 0 and 99999999999.99 up to 2 decimal places.
          example: 5008.88
        grossAnnuityPayments:
          type: number
          description: The gross value of annuity payments made. This value must be between 0 and 99999999999.99 up to 2 decimal places.
          example: 5009.99
        annuityPayments:
          $ref: '#/components/schemas/AnnuityPayments'
        pensionContributions:
          type: number
          description: Total of 'Retirement Annuity Payments', 'Payment To Employers Scheme No Tax Relief' and 'Overseas Pension Scheme Contributions'. This value must be between 0 and 99999999999.99 up to 2 decimal places.
          example: 2001.59
        pensionContributionsDetail:
          $ref: '#/components/schemas/PensionContributionsDetail'
      description: Object detailing allowances and deductions used in the retrieved tax calculation.
    AllowancesReliefsAndDeduction:
      title: AllowancesReliefsAndDeduction
      type: object
      properties:
        type:
          $ref: '#/components/schemas/Type1'
        submittedTimestamp:
          type: string
          description: 'The date and time when the latest submission was received, in ISO 8601 UTC format: YYYY-MM-DDThh:mm:ss.SSSZ.'
          example: 2019-02-15T09:35:15.094Z
        startDate:
          type: string
          description: The start date for the period of the submission.
          example: 2020-01-01
        endDate:
          type: string
          description: The end date for the period of the submission.
          example: 2020-01-01
        source:
          $ref: '#/components/schemas/Source1'
    AnnualAdjustment:
      title: AnnualAdjustment
      required:
      - incomeSourceId
      - incomeSourceType
      - bsasId
      - receivedDateTime
      - applied
      type: object
      properties:
        incomeSourceId:
          pattern: ^[A-Za-z0-9]{15}$
          type: string
          description: The unique identifier of the annual adjustment income source.
          example: XAIS12345678910
        incomeSourceType:
          $ref: '#/components/schemas/IncomeSourceType'
        bsasId:
          pattern: ^[0-9]{8}|[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
          type: string
          description: The unique identifier of the annual adjustment.
          example: 123a456b-789c-1d23-845e-678b9d1bd2ab
        receivedDateTime:
          type: string
          description: 'The latest date of when the adjustment was created, in ISO 8601 UTC format: YYYY-MM-DDThh:mm:ss.SSSZ.'
          example: 2019-02-15T09:35:15.094Z
        applied:
          type: boolean
          description: A boolean to identify whether the adjustment has been applied to this calculation. This value must be true or false.
          example: true
    AnnuityPayments:
      title: AnnuityPayments
      type: object
      properties:
        reliefClaimed:
          type: number
          description: The value of annual payments made. This value must be between 0 and 99999999999.99 up to 2 decimal places.
          example: 2000.58
        rate:
          type: number
          description: The tax rate used in the calculation. This value must be between 0 and 99.99 up to 2 decimal places.
          example: 10.25
      description: Object containing details about annuity payments.
    BenefitFromEmployerFinancedRetirementScheme:
      title: BenefitFromEmployerFinancedRetirementScheme
      type: object
      properties:
        amount:
          multipleOf: 0.01
          maximum: 99999999999.99
          minimum: 0
          type: number
          description: The amount from benefits from employment finance retirement scheme. This value must be between 0 and 99999999999.99 up to 2 decimal places.
          example: 2000.98
        exemptAmount:
          multipleOf: 0.01
          maximum: 99999999999.99
          minimum: 0
          type: number
          description: The exempt amount from benefits from employment finance retirement scheme. This value must be between 0 and 99999999999.99 up to 2 decimal places.
          example: 2000.98
        taxPaid:
          multipleOf: 0.01
          maximum: 99999999999.99
          minimum: 0
          type: number
          description: Tax paid on benefits from employment finance retirement scheme. This value must be between 0 and 99999999999.99 up to 2 decimal places.
          example: 2000.98
        taxTakenOffInEmployment:
          type: boolean
          description: A boolean to identify whether tax was taken off in employment. This value must be true or false.
          example: false
      description: Object detailing any benefits received from employer financed retirement schemes.
    BenefitInExcessOfLifetimeAllowance:
      title: BenefitInExcessOfLifetimeAllowance
      type: object
      properties:
        amount:
          maximum: 99999999999.99
          minimum: 0
          type: number
          description: The amount of benefit taken in excess of lifetime allowance. This value must be between 0 and 99999999999.99 up to 2 decimal places.
          example: 160
        taxPaid:
          maximum: 99999999999.99
          minimum: 0
          type: number
          description: Tax paid on benefit taken in excess of the lifetime allowance. This value must be between 0 and 99999999999.99 up to 2 decimal places.
          example: 100.5
        rate:
          maximum: 99.99
          minimum: 0
          type: number
          description: The percentage rate used to determine the amount chargeable. This value must be between 0 and 99.99 up to 2 decimal places.
          example: 20.5
        chargeableAmount:
          maximum: 99999999999.99
          minimum: 0
          type: number
          description: The amount chargeable on benefit taken in excess of lifetime allowance. This value must be between 0 and 99999999999.99 up to 2 decimal places.
          example: 160.12
      description: Details of benefits taken in excess of lifetime allowance.
    BenefitsInKind:
      title: BenefitsInKind
      type: object
      properties:
        totalBenefitsInKindReceived:
          multipleOf: 0.01
          maximum: 99999999999.99
          minimum: 0
          type: number
          description: Total benefits in kind received. This value must be between 0 and 99999999999.99 up to 2 decimal places.
          example: 2000.98
        benefitsInKindDetail:
          $ref: '#/components/schemas/BenefitsInKindDetail'
      description: Object containing information about any received benefits in kind.
    BenefitsInKindDetail:
      title: BenefitsInKindDetail
      type: object
      properties:
        apportionedAccommodation:
          multipleOf: 0.01
          maximum: 99999999999.99
          minimum: 0
          type: number
          description: Apportioned benefit amount. This value must be between 0 and 99999999999.99 up to 2 decimal places.
          example: 2000.98
        apportionedAssets:
          multipleOf: 0.01
          maximum: 99999999999.99
          minimum: 0
          type: number
          description: Apportioned benefit amount. This value must be between 0 and 99999999999.99 up to 2 decimal places.
          example: 2000.98
        apportionedAssetTransfer:
          multipleOf: 0.01
          maximum: 99999999999.99
          minimum: 0
          type: number
          description: Apportioned benefit amount. This value must be between 0 and 99999999999.99 up to 2 decimal places.
          example: 2000.98
        apportionedBeneficialLoan:
          multipleOf: 0.01
          maximum: 99999999999.99
          minimum: 0
          type: number
          description: Apportioned benefit amount. This value must be between 0 and 99999999999.99 up to 2 decimal places.
          example: 2000.98
        apportionedCar:
          multipleOf: 0.01
          maximum: 99999999999.99
          minimum: 0
          type: number
          description: Apportioned benefit amount. This value must be between 0 and 99999999999.99 up to 2 decimal places.
          example: 2000.98
        apportionedCarFuel:
          multipleOf: 0.01
          maximum: 99999999999.99
          minimum: 0
          type: number
          description: Apportioned benefit amount. This value must be between 0 and 99999999999.99 up to 2 decimal places.
          example: 2000.98
        apportionedEducationalServices:
          multipleOf: 0.01
          maximum: 99999999999.99
          minimum: 0
          type: number
          description: Apportioned benefit amount. This value must be between 0 and 99999999999.99 up to 2 decimal places.
          example: 2000.98
        apportionedEntertaining:
          multipleOf: 0.01
          maximum: 99999999999.99
          minimum: 0
          type: number
          description: Apportioned benefit amount. This value must be between 0 and 99999999999.99 up to 2 decimal places.
          example: 2000.98
        apportionedExpenses:
          multipleOf: 0.01
          maximum: 99999999999.99
          minimum: 0
          type: number
          description: Apportioned benefit amount. This value must be between 0 and 99999999999.99 up to 2 decimal places.
          example: 2000.98
        apportionedMedicalInsurance:
          multipleOf: 0.01
          maximum: 99999999999.99
          minimum: 0
          type: number
          description: Apportioned benefit amount. This value must be between 0 and 99999999999.99 up to 2 decimal places.
          example: 2000.98
        apportionedTelephone:
          multipleOf: 0.01
          maximum: 99999999999.99
          minimum: 0
          type: number
          description: Apportioned benefit amount. This value must be between 0 and 99999999999.99 up to 2 decimal places.
          example: 2000.98
        apportionedService:
          multipleOf: 0.01
          maximum: 99999999999.99
          minimum: 0
          type: number
          description: Apportioned benefit amount. This value must be between 0 and 99999999999.99 up to 2 decimal places.
          example: 2000.98
        apportionedTaxableExpenses:
          multipleOf: 0.01
          maximum: 99999999999.99
          minimum: 0
          type: number
          description: Apportioned benefit amount. This value must be between 0 and 99999999999.99 up to 2 decimal places.
          example: 2000.98
        apportionedVan:
          multipleOf: 0.01
          maximum: 99999999999.99
          minimum: 0
          type: number
          description: Apportioned benefit amount. This value must be between 0 and 99999999999.99 up to 2 decimal places.
          example: 2000.98
        apportionedVanFuel:
          multipleOf: 0.01
          maximum: 99999999999.99
          minimum: 0
          type: number
          description: Apportioned benefit amount. This value must be between 0 and 99999999999.99 up to 2 decimal places.
          example: 2000.98
        apportionedMileage:
          multipleOf: 0.01
          maximum: 99999999999.99
          minimum: 0
          type: number
          description: Apportioned benefit amount. This value must be between 0 and 99999999999.99 up to 2 decimal places.
          example: 2000.98
        apportionedNonQualifyingRelocationExpenses:
          multipleOf: 0.01
          maximum: 99999999999.99
          minimum: 0
          type: number
          description: Apportioned benefit amount. This value must be between 0 and 99999999999.99 up to 2 decimal places.
          example: 2000.98
        apportionedNurseryPlaces:
          multipleOf: 0.01
          maximum: 99999999999.99
          minimum: 0
          type: number
          description: Apportioned benefit amount. This value must be between 0 and 99999999999.99 up to 2 decimal places.
          example: 2000.98
        apportionedOtherItems:
          multipleOf: 0.01
          maximum: 99999999999.99
          minimum: 0
          type: number
          description: Apportioned benefit amount. This value must be between 0 and 99999999999.99 up to 2 decimal places.
          example: 2000.98
        apportionedPaymentsOnEmployeesBehalf:
          multipleOf: 0.01
          maximum: 99999999999.99
          minimum: 0
          type: number
          description: Apportioned benefit amount. This value must be between 0 and 99999999999.99 up to 2 decimal places.
          example: 2000.98
        apportionedPersonalIncidentalExpenses:
          multipleOf: 0.01
          maximum: 99999999999.99
          minimum: 0
          type: number
          description: Apportioned benefit amount. This value must be between 0 and 99999999999.99 up to 2 decimal places.
          example: 2000.98
        apportionedQualifyingRelocationExpenses:
          multipleOf: 0.01
          maximum: 99999999999.99
          minimum: 0
          type: number
          description: Apportioned benefit amount. This value must be between 0 and 99999999999.99 up to 2 decimal places.
          example: 2000.98
        apportionedEmployerProvidedProfessionalSubscriptions:
          multipleOf: 0.01
          maximum: 99999999999.99
          minimum: 0
          type: number
          description: Apportioned benefit amount. This value must be between 0 and 99999999999.99 up to 2 decimal places.
          example: 2000.98
        apportionedEmployerProvidedServices:
          multipleOf: 0.01
          maximum: 99999999999.99
          minimum: 0
          type: number
          description: Apportioned benefit amount. This value must be between 0 and 99999999999.99 up to 2 decimal places.
          example: 2000.98
        apportionedIncomeTaxPaidByDirector:
          multipleOf: 0.01
          maximum: 99999999999.99
          minimum: 0
          type: number
          description: Apportioned benefit amount. This value must be between 0 and 99999999999.99 up to 2 decimal places.
          example: 2000.98
        apportionedTravelAndSubsistence:
          multipleOf: 0.01
          maximum: 99999999999.99
          minimum: 0
          type: number
          description: Apportioned benefit amount. This value must be between 0 and 99999999999.99 up to 2 decimal places.
          example: 2000.98
        apportionedVouchersAndCreditCards:
          multipleOf: 0.01
          maximum: 99999999999.99
          minimum: 0
          type: number
          description: Apportioned benefit amount. This value must be between 0 and 99999999999.99 up to 2 decimal places.
          example: 2000.98
        apportionedNonCash:
          multipleOf: 0.01
          maximum: 99999999999.99
          minimum: 0
          type: number
          description: Apportioned benefit amount. This value must be between 0 and 99999999999.99 up to 2 decimal places.
          example: 2000.98
      description: Object detailing any received benefits in kind.
    BereavementAllowance:
      title: BereavementAllowance
      required:
      - incomeSourceId
      - amount
      type: object
      properties:
        incomeSourceId:
          pattern: ^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
          type: string
          description: The unique identifier of the income source.
          example: bb74c290-cae6-11ec-9b64-0242ac120002
        amount:
          type: number
          description: The amount of Bereavement Allowance. This value must be between 0 and 99999999999.99 up to 2 decimal places.
          example: 5012.99
        source:
          $ref: '#/components/schemas/Source3'
    BusinessAssetsDisposalsAndInvestorsRel:
      title: BusinessAssetsDisposalsAndInvestorsRel
      type: object
      properties:
        gainsIncome:
          maximum: 99999999999.99
          minimum: 0
          type: number
          description: Gains income from business assets disposals and investors reliefs. This value must be between 0 and 99999999999.99 up to 2 decimal places.
          example: 5000.99
        lossesBroughtForward:
          maximum: 99999999999.99
          minimum: 0
          type: number
          description: Losses brought forward. This value must be between 0 and 99999999999.99 up to 2 decimal places.
          example: 5000.99
        lossesArisingThisYear:
          maximum: 99999999999.99
          minimum: 0
          type: number
          description: Losses arising this year. This value must be between 0 and 99999999999.99 up to 2 decimal places.
          example: 5000.99
        gainsAfterLosses:
          maximum: 99999999999.99
          minimum: 0
          type: number
          description: Gains after losses. This value must be between 0 and 99999999999.99 up to 2 decimal places.
          example: 5000.99
        annualExemptionAmount:
          maximum: 99999999999.99
          minimum: 0
          type: number
          description: Annual exemption amount. This value must be between 0 and 99999999999.99 up to 2 decimal places.
          example: 5000.99
        taxableGains:
          maximum: 99999999999.99
          minimum: 0
          type: number
          description: Taxable gains. This value must be between 0 and 99999999999.99 up to 2 decimal places.
          example: 5000.99
        rate:
          maximum: 99.99
          minimum: 0
          type: number
          description: Rate for business assets disposals and investors. This value must be between 0 and 99.99 up to 2 decimal places.
          example: 2.99
        taxAmount:
          maximum: 99999999999.99
          minimum: 0
          type: number
          description: Tax amount. This value must be between 0 and 99999999999.99 up to 2 decimal places.
          example: 5000.99
      description: Object detailing the tax due on business assets disposals and investors reliefs.
    BusinessIncomeSource:
      title: BusinessIncomeSource
      required:
      - incomeSourceId
      - incomeSourceType
      - accountingPeriodStartDate
      - accountingPeriodEndDate
      - source
      - latestPeriodEndDate
      - latestReceivedDateTime
      type: object
      properties:
        incomeSourceId:
          pattern: ^[A-Za-z0-9]{15}$
          type: string
          description: The unique identifier of the income source.
          example: XAIS12345678910
        incomeSourceType:
          $ref: '#/components/schemas/IncomeSourceType'
        incomeSourceName:
          type: string
          description: The name of the income source.
          example: ABC-123 Ltd.
        accountingPeriodStartDate:
          type: string
          description: The accounting start date of the income source.
          example: 2020-01-01
        accountingPeriodEndDate:
          type: string
          description: The accounting end date of the income source.
          example: 2020-01-01
        source:
          enum:
          - MTD-SA
          type: string
          description: The source of the income data used in this calculation.
          example: MTD-SA
        latestPeriodEndDate:
          type: string
          description: The end date of the period for which income has been submitted for the income source.
          example: 2020-01-01
        latestReceivedDateTime:
          type: string
          description: 'The latest date & time when this income source had data submitted against it, in ISO 8601 UTC format: YYYY-MM-DDThh:mm:ss.SSSZ.'
          example: 2019-02-15T09:35:15.094Z
        finalised:
          type: boolean
          description: A boolean to identify whether the income source is finalised. This value must be true or false.
          example: false
        finalisationTimestamp:
          type: string
          description: 'The timestamp of when finalisation was performed, in ISO 8601 UTC format: YYYY-MM-DDThh:mm:ss.SSSZ.'
          example: 2019-02-15T09:35:15.094Z
        submissionPeriods:
          type: array
          items:
            $ref: '#/components/schemas/SubmissionPeriod'
          description: Array containing submission periods for the business income source.
    BusinessProfitAndLoss:
      title: BusinessProfitAndLoss
      required:
      - incomeSourceId
      - incomeSourceType
      type: object
      properties:
        incomeSourceId:
          pattern: ^[A-Za-z0-9]{15}$
          type: string
          description: The unique identifier of the income source.
          example: XAIS12345678910
        incomeSourceType:
          $ref: '#/components/schemas/IncomeSourceType6'
        incomeSourceName:
          type: string
          description: The name of the income source.
          example: ABC-123 Ltd.
        totalIncome:
          multipleOf: 0.01
          maximum: 99999999999.99
          minimum: 0
          type: number
          description: The total income used in the business calculation. This value must be between 0 and 99999999999.99 up to 2 decimal places.
          example: 5000.99
        totalExpenses:
          multipleOf: 0.01
          maximum: 99999999999.99
          minimum: -99999999999.99
          type: number
          description: The total expenses used in the business calculation. This value must be between -99999999999.99 and 99999999999.99 up to 2 decimal places.
          example: 5000.99
        netProfit:
          multipleOf: 0.01
          maximum: 99999999999.99
          minimum: 0
          type: number
          description: The net profit for the business. This value must be between 0 and 99999999999.99 up to 2 decimal places.
          example: 5000.99
        netLoss:
          multipleOf: 0.01
          maximum: 99999999999.99
          minimum: 0
          type: number
          description: The net loss for the business. This value must be between 0 and 99999999999.99 up to 2 decimal places.
          example: 5000.99
        totalAdditions:
          multipleOf: 0.01
          maximum: 99999999999.99
          minimum: -99999999999.99
          type: number
          description: The total additions to the net profit (or deductions from the net loss) for the business. This value must be between -99999999999.99 and 99999999999.99 up to 2 decimal places.
          example: 5000.99
        totalDeductions:
          multipleOf: 0.01
          maximum: 99999999999.99
          minimum: 0
          type: number
          description: The total deductions from the net loss (or additions to the net profit) for the business. This value must be between 0 and 99999999999.99 up to 2 decimal places.
          example: 5000.99
        accountingAdjustments:
          multipleOf: 0.01
          maximum: 99999999999.99
          minimum: -99999999999.99
          type: number
          description: Accounting adjustments applied to the profit or loss calculation for Foreign Property. This value must be between -99999999999.99 and 99999999999.99 up to 2 decimal places.
          example: 5000.99
        taxableProfit:
          multipleOf: 1
          maximum: 99999999999
          minimum: 0
          type: integer
          description: The taxable profit after all additions and deductions have been applied for the business. This value must be between 0 and 99999999999. No decimals.
          format: int32
          example: 160
        adjustedIncomeTaxLoss:
          multipleOf: 1
          maximum: 99999999999
          minimum: 0
          type: integer
          description: The adjusted Income Tax loss after all additions and deductions have been applied for the business. This value must be between 0 and 99999999999. No decimals.
          format: int32
          example: 160
        totalBroughtForwardIncomeTaxLosses:
          multipleOf: 1
          maximum: 99999999999
          minimum: 0
          type: integer
          description: The total sum of Income Tax losses brought forward from earlier years for the business. This value must be between 0 and 99999999999. No decimals.
          format: int32
          example: 160
        lossForCSFHL:
          multipleOf: 1
          maximum: 99999999999
          minimum: 0
          type: integer
          description: The losses from UK Property Non-FHL that have been carried sideways to UK Property FHL. This value must be between 0 and 99999999999. No decimals.
          format: int32
          example: 160
        broughtForwardIncomeTaxLossesUsed:
          multipleOf: 1
          maximum: 99999999999
          minimum: 0
          type: integer
          description: This is the total sum of losses brought forward from previous years used against the taxable profit for the business for the tax year of the calculation. This value must be between 0 and 99999999999. No decimals.
          format: int32
          example: 160
        taxableProfitAfterIncomeTaxLossesDeduction:
          multipleOf: 1
          maximum: 99999999999
          minimum: 0
          type: integer
[...]
